/* Generics  */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #054126;
    --white-color: #ffffff;
    --gray-color: #E9EBE8;
    --dark-gray-color: #414241;
}

/* Navigation Desktop */
header {
    margin-bottom: 30px;
}

.topbar {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 60px;
}

.topbar__date {
    font-size: 11px;
    color: var(--white-color);
}

a.topbar__link {
    font-size: 11px;
    color: var(--white-color);
}

.logobar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 60px;
}

.logobar__socialmenu {
    display: flex;
    flex-direction: row;
}

.logobar__socialmenu li {
    margin-right: 10px;
    margin-top: 10px;
}

.logobar__search input {
    padding: 14px 20px 8px 20px;
    border-radius: 0;
    background-color: var(--gray-color);
    border: none;
}

.logobar__search input:focus {
    outline: none;
}

.logobar__search span {
    background-color: var(--main-color);
    padding: 9px 8px 5px 8px;
    margin-left: -14px;
    margin-top: 5px;
}

.logobar__search span img {
    width: 18px;
    height: 18px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-color);
    padding: 10px 60px;
}

.nav__navlist {
    display: flex;
    flex-direction: row;
}

.nav__navlist li {
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.nav__navlist li a {
    margin-right: 20px;
    color: var(--dark-gray-color);
    font-size: 14px;
}

.nav__menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

