/* Generics  */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

:root {
    --main-color: #054126;
    --white-color: #ffffff;
    --gray-color: #E9EBE8;
    --dark-gray-color: #414241;
    --app-width: 1280px;
    --time-color: #FF004F;
    --light-gray-color: #e9ebe8;
    --dark-color: #000000;
    --pure-gray: #656765;
}

.container {
    padding-left:60px;
    padding-right:60px;
    max-width: 1400px; 
}

.desktop_only {
    display: block;
}

.mobile_only {
    display: none;
}

/* Mobile styles for smaller screens */
@media only screen and (max-width: 767px) {
    /* Adjust the container padding and max-width */
    .container {
        padding-left: 15px;
        padding-right: 15px;
        max-width: 100%;
    }
    .mobile_only {
        display: block;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .desktop_only {
        display: none;
    }

}

/* Advertisement */

.advert {
    margin-top: 50px;
}

.ad-container {
    align-items: center;
    background-color: #f0f0f0;
    padding-top: 0.5em;
    padding-bottom: 1em;
    width: 100%;
    margin-bottom: 10px;
    &::before {
        content: 'advertisement';
        text-transform: uppercase;
        font-size: 9px;
        font-style: normal;
        font-weight: 314;
        letter-spacing: 0.388em;
        line-height: 14px;
        display: flex;
        justify-content: center;
        color: #000;
    }
  
    .ad-container-inner_100 {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }
  
    .ad-container-inner_wide {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100px;
      max-width: 970px;
    }
  
    .ad-container-inner_50 {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 50px;
    }
  
    .ad-container-inner_250 {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 250px;
    }
  
    .ad-container-inner_600 {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 600px;
  }
  }

/* Header and Navigation Desktop */

header {
    margin-bottom: 30px;
}

.topbar {
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 7px;
}

.topbar__date {
    font-size: 11px;
    color: var(--white-color);
}

a.topbar__link {
    font-size: 11px;
    color: var(--white-color);
}

.logobar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logobar__socialmenu {
    display: flex;
    flex-direction: row;
}

.logobar__socialmenu li {
    margin-right: 10px;
    margin-top: 10px;
}

.logobar__search input {
    padding: 14px 20px 8px 20px;
    border-radius: 0;
    background-color: var(--gray-color);
    border: none;
}

.logobar__search input:focus {
    outline: none;
}

.logobar__search span {
    background-color: var(--main-color);
    padding: 9px 8px 5px 8px;
    margin-left: -14px;
    margin-top: 5px;
}

.logobar__search span img {
    width: 18px;
    height: 18px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--gray-color);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav__navlist {
    display: flex;
    flex-direction: row;
}

.nav__navlist li {
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
}

.nav__navlist li a {
    margin-right: 20px;
    color: var(--dark-gray-color);
    font-size: 14px;
    /* font-weight: 600; */
}

.nav__menu {
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Mobile styles for smaller screens */
@media only screen and (max-width: 767px) {
    /* Adjust header and navigation for mobile */

    .topbar {
        flex-direction: row;
    }

    .topbar__date, a.topbar__link {
        font-size: 9px;
    }

    .logobar {
       justify-content: center;
       padding-top: 10px;
        padding-bottom: 10px;
    }

    .logobar__logo {
        width: 150px;
    }

    .logobar__logo img {
        width: 100%;
        height: auto;
    }

    .logobar__socialmenu {
        display: none;
    }

    .logobar__search {
        display: none;
    }
    .nav {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .nav__navlist {
        flex-direction: row;
        align-items: center;
    }

    .nav__navlist li {
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}



/* Featured HomePage */
.featured {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 15px;
    margin-top: 20px;
}

.featured__latest {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.featured__latest h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.featured__latest h2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 8px;
}

.featured__latest__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid var(--gray-color);
}

.featured__latest__box:last-child {
    border-bottom: none;
}

.featured__latest__image {
    width: 90px;
    height: 60px;
    margin-right: 8px;
}

.featured__latest__image img {
    width: 100%;
    height: 100%;
}

.featured__latest__news {
    width: 100%;
}

.featured__latest__news h6 {
    font-size: 14px;
    font-weight: normal;
}
.featured__latest__news span {
    font-size: 9px;
    color: var(--time-color);
}

.featured__breaking {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.featured__breaking__image {
    width: 100%;
    height: 350px;
}

.featured__breaking__image img {
    width: 100%;
    height: 100%;
}

.featured__breaking__content {
    background-color: var(--main-color);
    padding: 8px 15px;
    margin-top: -20px;
}

.featured__breaking__content button {
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px solid var(--gray-color);
    background-color: transparent;
    color: var(--white-color);
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 5px;
}

.featured__breaking__content h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
    color: var(--white-color);
}

.featured__breaking__more {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.featured__breaking__more__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0;
    margin-top: 15px;
}

.featured__breaking__more__image {
    width: 90px;
    height: 60px;
    margin-right: 10px;
}

.featured__breaking__more__image img {
    width: 100%;
    height: 100%;
}

.featured__breaking__more__news {
    width: 100%;
}

.featured__breaking__more__news h6 {
    font-size: 14px;
    font-weight: normal;
}
.featured__breaking__more__news span {
    font-size: 9px;
    color: var(--time-color);
}


.featured__advert {
    display: flex;
    flex-direction: column;
    width: 28%;
}


/* Mobile styles for smaller screens */
@media only screen and (max-width: 767px) {
    /* Adjust the container padding and max-width */
    .featured {
        display: flex;
        flex-direction: column;
    }

    .featured__breaking {
        order: 1;
        flex-direction: column;
        width: 100%;
        margin-bottom: 30px;
        
    }

    .featured__breaking__image {
        width: 100%;
        height: 230px;
    }

    .featured__breaking__content h1 {
        margin-bottom: 0;
        font-size: 18px;
    }

    .featured__breaking__content button {
        display: none;
    }
    .featured__breaking__more {
        flex-direction: column;
    }

    .featured__breaking__more__box {
        border-bottom: 1px solid var(--gray-color);
    }

    .featured__latest {
        order: 3;
        flex-direction: column;
        width: 100%;
        margin-top: 30px;
    }

    .featured__advert {
        order: 2;
        flex-direction: column;
        width: 100%;
    }

}


/* Catergory listing */
.categoryfull {
    padding-top: 50px;
}

.categoryfull h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.categoryfull h2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 8px;
}

.categoryfull__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10px;
}

.categoryfull__single__image {
    width: 280px;
    height: 180px;
}

.categoryfull__single__image img {
    width: 100%;
    height: auto;
}

.categoryfull__single {
    width: 26%;
}

.categoryfull__single h4 {
    font-size: 18px;
    margin: 10px 0;
}

.categoryfull__single p {
    font-size: 14px;
    color: var(--dark-gray-color);
}

.categoryfull__listings {
    width: 22%;
}

.categoryfull__listings__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid var(--gray-color);
}

.categoryfull__listings__box:first-child {
    padding-top: 0;
}

.categoryfull__listings__box:last-child {
    border-bottom: none;
}

.categoryfull__listings__image {
    width: 90px;
    height: 60px;
    margin-right: 8px;
}

.categoryfull__listings__image img {
    width: 100%;
    height: 100%;
}

.categoryfull__listings__news {
    width: 100%;
}

.categoryfull__listings__news h6 {
    font-size: 14px;
    font-weight: normal;
}

.categoryfull__advert {
    width: 30%;
}

.categoryfull__readmore {
    text-align:center;
}
.categoryfull__readmore button {
        padding: 10px 30px;
        border-radius: 50px;
        background-color: var(--main-color);
        border: none;
}

.categoryfull__readmore button a {
    text-transform: uppercase;
    color: #ffffff;
}

/* Mobile styles for smaller screens */
@media only screen and (max-width: 767px) {
    .categoryfull__box {
        flex-direction: column;
    }

    .categoryfull__single {
        width: 100%;
        margin-bottom: 20px;
    }

    .categoryfull__single__image {
        width: 100%;
        height: 230px;
    }

    .categoryfull__single__image img {
        height: 100%;
    }

    .categoryfull__listings {
        width: 100%; 
    }

    .categoryfull__advert {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}

/* Single item category */
.categoryitem {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
}

.categoryitem__single {
    width: 23%;
}

.categoryitem__single h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.categoryitem__single h2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 8px;
}


.categoryitem__image {
    width: 270px;
    height: 180px;
}

.categoryitem__image img {
    width: 100%;
    height: auto;
}

.categoryitem__box h4 {
    font-size: 16px;
    margin: 14px 0;
}

.categoryitem__box p {
    font-size: 14px;
    color: var(--dark-gray-color);
    margin-bottom: 20px;
}

.categoryitem__listings__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid var(--gray-color);
}

.categoryitem__listings__box:first-child {
    padding-top: 0;
}

.categoryitem__listings__box:last-child {
    border-bottom: none;
}

.categoryitem__listings__image {
    width: 90px;
    height: 60px;
    margin-right: 8px;
}

.categoryitem__listings__image img {
    width: 100%;
    height: 100%;
}

.categoryitem__listings__news {
    width: 100%;
}

.categoryitem__listings__news h6 {
    font-size: 13px;
    font-weight: normal;
    color: var(--dark-gray-color);
}

.categoryrow {
    padding-top: 40px;
    padding-bottom: 40px;
}

.categoryrow h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}

.categoryrow h2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 8px;
}

.categoryrow_listing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 20px;
    margin-bottom: 30px;
}

.categoryrow__image {
    width: 270px;
    height: 180px;
}

.categoryrow__image img {
    width: 100%;
    height: auto;
}

.categoryrow__box h4 {
    font-size: 16px;
    margin: 14px 0;
}

.categoryrow__box p {
    font-size: 14px;
    color: var(--dark-gray-color);
    margin-bottom: 20px;
}


/* Mobile styles for smaller screens */
@media only screen and (max-width: 767px) {
        .categoryitem {
        flex-direction: column;
    }

    .categoryrow_listing {
        flex-direction: column;
    }
}

/* Columnist */


.columnist {
    padding-top: 20px;
    padding-bottom: 50px;
}

.columnist_row {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    flex-wrap: wrap;
}

a.columnist__box {
    color: #000000;
}

.columnist__box {
    display: flex;
    padding: 15px;
    background-color: var(--light-gray-color);
    border-radius: 5px;
    width: 21%;
    margin-bottom: 20px;
    transition: 0.3s;
}

.columnist__box:hover {
    background-color: var(--light-gray-color);
}

.columnist__image {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.columnist__image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.columnist__author {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.columnist__author h4 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
}
.columnist__author span {
    font-size: 12px;
    color: var(--main-color);
}



/* Footer */

footer {
    padding-top: 50px;
    padding-bottom: 30px;
    margin-top: 50px;
    background-color: var(--dark-color); 
}

.footer__cover {
    color: var(--white-color);
    text-align: center;
}

.footer__logo {
    margin-bottom: 40px;
}


.footer__socials {
    margin-bottom: 20px;
}

.footer__socials ul {
    display: inline-flex;
}

.footer__socials ul li {
    margin-right: 20px;
}


.footer__menu  {
    padding-bottom: 60px;
    border-bottom: 1px solid var(--pure-gray);
}

.footer__menu ul {
    display: inline-flex;
}

.footer__menu ul li {
    margin-right: 20px;
}

.footer__menu ul li a {
    color: var(--white-color);
    font-size: 13px;
}

.footer__copyright {
    padding-top: 20px;
}

.footer__copyright p {
    color: var(--pure-gray);
    font-size: 12px;
}



/* Category */

.category__featured_text h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--dark-gray-color);
}
.category__featured_text h2 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin-right: 8px;
}


.category__contain{
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
}

.category__cards {
    flex: 70%;
}

.card_feature_box{
    margin-bottom: 20px;
    margin-top: 20px;
}



.category__card__container:after {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--gray-color);
    width: 100%;
}
.category__card__container:last-child {
    border-bottom: none;
}
  /* Card and card image */
  .category__card__inner__container {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
  }
  
  .category__card__inner__container .card_feature_box {
    width: 180px;
    height: 136px;
    object-fit: cover;
  }
  
  .category__card__inner__container .category__card__text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }

  .category__card__text p{
    color: var(--dark-gray-color);
    font-size: 14px;
  }

  .category__card__text h4{
    font-size: 16px;
    font-weight: 500;
  }


  .category__card__inner__container .time{
    font-size: 10px;
    color: var(--time-color);
 }

 .sidebar{
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
 }

  .containerp {
    background: #fdfdfd;
    padding: 1rem;
    margin: 3rem 0;
    border-radius: 0.3rem;
    counter-reset: pagination;
    text-align: left;
  }
  .containerp:after {
    clear: both;
    content: "";
    display: table;
  }
  /* .containerp ul {
  } */

 
  
  .pagination ul {
    display: flex; 
    justify-content: flex-start;
    padding-left: 0; /* Remove the default padding-left */
  }
  
  
  .pagination ul, li {
    list-style: none;
    display: inline;
    padding-left: 1.3rem;
  }
  
  .pagination li {
    counter-increment: pagination;
  }
  .pagination li:hover a {
    color: #fdfdfd;
    background-color: #054126;
    border: solid 1px #054126;
  }
  .pagination li.active a {
    color: #fdfdfd;
    background-color: #054126;
    border: solid 1px #054126;
  }
  /* .pagination li:first-child {
    float: left;
  } */
  /* .pagination li:first-child a:after {
    content: "Previous";
  } */
  /* .pagination li:nth-child(2) {
    counter-reset: pagination;
  } */
  .pagination li:last-child {
    float: none;
  }
  .pagination li:last-child a:after {
    content: "Next";
  }
  .pagination li:nth-last-child(2) a:after {
    content: "21, 741";
  }
  .pagination li a {
    background-color: #E9EBE8;
    color: #414241;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 0.7rem 1.4rem;
  }
  .pagination li a:after {
    content: " " counter(pagination) " ";
  }
  
.divider-text{
    margin-top: 1rem;
    width: 70%;
    height: 1px;
    background-color: var(--dark-gray-color);
  }
.copy_right{
    margin-top: 1rem;
}  
.copy_right p {
    color: var(--dark-gray-color);
}

.nav__menu {
    display: none; 
  }

  /* advert 250 - removed fro desktop */
  .advert__mobile{
    display: none;
  }

  .btn__search{
    display: none;
  }

/* Responsive styles for mobile devices */
@media screen and (max-width: 640px) {
    .container {
        padding-left:20px;
        padding-right:20px;
    }

    /* Scrollabe nav - mobile */
    .nav {
        background-color: var(--gray-color);
        padding-left: 10px;
        white-space: nowrap;
        overflow-y: scroll;
        scrollbar-width: none; 
        -ms-overflow-style: none;
        position: sticky;
        padding: 10px;
      
        .nav {
          display: inline-block;
        }
        &::-webkit-scrollbar {
            display: none;
          }
          .nav__navlist li {
            -webkit-overflow-scrolling: touch;
          }
      }

      .nav__navlist{
        display: flex;
        align-items: center;
      }

      .nav__navlist li{
        margin-right: 0px; 
      }
     
      .nav li:last-child{
        padding-right: 0px !important;
        margin-right: 0px !important;
      }

    
    .nav__active li a{
        color: var(--main-color) !important;
    }

     
    /* top bar */
    .logobar{
        height: 20px;
        display: flex;
        flex-direction: row;
        align-items: center ;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        
    }
    
    
    .logobar__logo img{
        display: flex;
        align-items: center;
        height: 20px;
    }
    .logobar__socialmenu {
        display: none;
        flex-direction: row;
    }

    .logobar__search{
        display: none;
    }
    
    .logobar__search span img {
        width: 18px;
        height: 18px;
    }

    .logobar button{
        border: none;
        background-color: var(--main-color);
        padding: 4px;
    }
    
    
    /* Cards */
    .category__cards{
       max-width: 640px;
    } 

    .sidebar{
        display: none;
    }

    .advert{
        display: none;
    }

    .advert__mobile{
        margin-top: 50px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    .category__card__inner__container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        overflow: hidden;
      }

      .category__card__text .time {
        font-size: 12px;
        display: block;
      }
      

      .category__card__inner__container .category__card__text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
      }

    .category__cards {
        flex: none;
        padding-left: 20px;
        padding-right: 20px;
      }

    .card_feature_box img{
        width: 90px;
        height: 60px;
        
    }

    .card_feature_box{
        width: 90px !important;
        height: 60px !important;
        margin-bottom: 10px;
        margin-top: 15px;
    }    
    .category__card__inner__container .card_feature_box {
        display: flex;
        align-items: center;
        object-fit: cover;
      }


     .category__featured_text span{
        margin-left: 0 !important;
        float: right;
     } 
    
    .category__card__text h4{
        font-size: 15px;
    }
    .category__card__text p{
        display: none;
    }
    .category__mobile__featured h2 {
        font-weight: 600;
    }
    .category__featured_text h2 {
        display: flex;
        align-items: center;
    }
    .category__contain {
        flex-direction: column;
        padding: 0;
    }

    .category__cards {
        flex: 100%;
    }
   

    .category__card__inner__container .category__card__text {
        padding: 20px;
    }


    /* Pagination - mobile */
    .pagination {
        display: flex; 
        align-items: center;
        justify-content: center;
        padding-left: 0; /* Remove the default padding-left */
      }
      
      .pagination ul, li {
        list-style: none;
        display: inline;
        padding-left: 0.5rem;
      }
      
      .pagination li {
        counter-increment: pagination;
      }
      .pagination li:hover a {
        color: #fdfdfd;
        background-color: #054126;
        border: solid 1px #054126;
      }
      .pagination li.active a {
        color: #fdfdfd;
        background-color: #054126;
        border: solid 1px #054126;
      }
      .pagination li:last-child a:after {
        content: "Next";
      }
      
      
      .pagination li a {
        /* border: solid 1px #d7d7d7; */
        background-color: #E9EBE8;
        color: #414241;
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 0.2rem 0.8rem;
      }

     
      .pagination li:last-child {
         float: none;
       }
      .pagination li:last-child a:after {
        content: "Next";
       }
      .pagination li:nth-last-child(2)  {
        content: "";
        display: none;
       }

      /* Footer */

    .footer {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-top: 50px;
        background-color: var(--dark-color); 
    }
    
    .footer__cover {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--white-color);
        text-align: center;
    }
    
    .footer__logo {
        margin-bottom: 40px;
    }
    
    
    .footer__socials {
        margin-bottom: 20px;
    }
    
    .footer__socials ul {
        display: inline-flex;
        
    }
    
    .footer__socials ul li {
        margin-right: 20px;
    }
    
    
    .footer__menu  {
        padding-bottom: 20px;
        border-bottom: 1px solid var(--pure-gray);
        width: 100%;
    }
    
    .footer__menu ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .footer__menu ul li {
        margin-right: 20px;
        
    }
    
    .footer__menu ul li a {
        color: var(--white-color);
        font-size: 15px;
    }
    
    .footer__copyright {
        padding-top: 20px;
    }
    
    .footer__copyright p {
        color: var(--pure-gray);
        font-size: 12px;
    }

    

}




  


